section(class="")
	div(class="relative max-w-[1824px] mx-auto pt-32 bg-accent xl:pt-16 md:pt-12")
		div(class="hidden absolute bottom-0 left-0 w-full h-[35.83%] bg-[url('../img/quiz/decor.svg')] md:block")

		div(class="flex gap-x-28 xl:gap-x-10 md:flex-col")
			div(class="relative shrink-0 grow-0 basis-[36.18%] pb-[269px] md:basis-auto md:pb-10")
				div(class="absolute bottom-0 left-0 w-full h-[32%] bg-[url('../img/quiz/decor.svg')] bg-no-repeat md:hidden")
				h2(class="mb-8 text-blue sm:mb-2.5 xs:text-white") Рассчитайте стоимость 
					span(class="block text-white") ваших окон прямо сейчас!
				p(class="ml-40 text-2xl text-white lg:mx-10 sm:text-sm") Ответьте на несколько вопросов
			
			div(class="min-w-0 shrink grow basis-auto pr-40 pb-28 xl:pr-8 xl:pb-11 md:mx-10 md:pr-0" data-quiz)
				- let data = [{ques: 'Где будут использоваться мягкие окна?', vars: ['Беседка', 'Веранда', 'Навес'], name:'where'}, {ques: 'Выбор материала', vars: ['Пленка ПВХ', 'Плёнка ТПУ', 'Кант тентовая ткань ПВХ'], name:'mats'}];
					

				form(data-quiz-form action="#" name="formname" class="")
					div( class="quiz-slider swiper-container swiper text-white")
						.swiper-pagination(class="static")
						div(class="swiper-wrapper pt-6 md:pt-2")
							each item, i in data
								.swiper-slide.select-none(data-quiz-block)
									div(class="")
										h3(class="mb-11 text-3xl font-demibold leading-[48/32] md:mb-2.5 sm:text-lg xs:tracking-[-.5px]")= item.ques
										
										div(class="grid grid-cols-3 gap-x-6 gap-y-2 sm:grid-cols-1")
											each label, n in item.vars
												label(class="relative h-60 px-7 py-4 flex flex-col gap-y-2.5 border border-px border-white cursor-pointer has-[:checked]:border-blue group/label sm:flex-row sm:items-center sm:gap-x-5 sm:h-auto sm:px-3.5")
													
													input(type="radio" name=item.name checked=n==1 ? true : false class="absolute w-0 h-0 block left-1/2 top-full m-0 p-0 opacity-0")
														
													span(class="w-20 h-20 shrink-0 flex justify-center items-center sm:w-10 sm:h-10")
														img(src="img/quiz/"+(i+1)+"/"+(n+1)+".svg" alt="alt")
													
													span(class="mt-auto flex items-center gap-x-4 sm:mt-0")
														span(class="shrink-0 flex items-center justify-center w-6 h-6 border border-white rounded rounded-full before:absolute before:block before:w-3 before:h-3 before:bg-blue before:rounded before:rounded-full before:opacity-0 group-has-[:checked]/label:before:opacity-100 sm:w-5 sm:h-5 sm:before:w-2.5 sm:before:h-2.5")

														span(class="text-xl sm:text-sm")= label

							.swiper-slide(data-quiz-block)
								div(class="")
									h3(class="mb-11 text-3xl font-demibold leading-[48/32] md:mb-2.5 sm:text-lg xs:tracking-[-.5px]") Оставьте заявку
									div
										- let form = [{label: 'Ваше имя', name:'name'}, {label: 'Электронная почта', name:'mail'}, {label: 'Телефон', name:'phone'}];

										div(class="mb-20 grid grid-cols-3 gap-x-6 gap-y-7 xl:mb-10 sm:grid-cols-1 sm:gap-y-5 sm:mb-5")
											each item, i in form
												label.block
													input(autocomplete="off" type="text" name=item.name class="w-full pb-7 border-b border-white text-white placeholder-white text-2xl font-light bg-transparent focus:outline-0 sm:text-lg sm:pb-4 focus:outline-none" placeholder=item.label)
										
										div(class="")
											div(class="relative")
												label.block.mb-3
													textarea(id="quiz-textarea" autocomplete="off" type="text" name="message" class="h-16 w-full pb-7 pr-12 resize-none border-b border-white text-white placeholder-white text-2xl font-light bg-transparent focus:outline-0 sm:text-lg sm:pb-3.5 focus-visible:outline-none" placeholder="Расскажите подробнее" maxlength="255" aria-describedby="charCount")

												label(class="absolute w-12 h-12 flex items-center justify-center top-1/2 -right-4 cursor-pointer -translate-y-1/2")
														
														input(type="file" name="file-attach" class="absolute w-0 h-0 block left-1/2 top-full m-0 p-0 opacity-0")

														span(class="w-6 h-6 bg-[url('../img/icons-svg/attach.svg')] bg-no-repeat bg-contain")

											div(class="" id="charCount" aria-live="polite")
												span#quiz-area-count 0
												span /
												span#quiz-area-overal 255

						
						
						
						div(id="quiz-send-block" data-quiz-block class="mt-16 flex items-start gap-x-[10.74%] hidden lg:mt-8 sm:flex-col sm:gap-y-7 xs:mt-5")
							button(data-quiz-send type="submit" class="quiz-next flex items-center gap-x-7 disabled:opacity-40 xs:gap-x-5")
									span(class="text-3xl font-demibold xs:text-xl") Отправить
									span(class="icon-exit text-3xl xs:text-base")

							div(class="relative flex gap-x-5")
								label(class="relative")
									input(type="checkbox" name="check"  class="peer absolute w-0 h-0 block left-1/2 top-full m-0 p-0 opacity-0")
									span(class="w-6 h-6 flex justify-center items-center bg-white before:left-0 before:top-0 before:w-full before:h-full before:bg-[url('../img/icons-svg/check.svg')] before:bg-center before:bg-no-repeat before:opacity-0 peer-checked:before:opacity-100")
								
								span Нажимая на кнопку «Отправить», Вы даете #[a(href="#").underline Cогласие на обработку своих персональных данных]




						button(data-quiz-next type="button" class="quiz-next mt-16 flex items-center gap-x-7 disabled:opacity-40 lg:mt-8 xs:mt-5 xs:gap-x-5")
							span(class="text-3xl font-demibold xs:text-xl") Далее
							span(class="icon-arroq-ritght text-3xl xs:text-base")
